body{
    background-color: black;
}

.meme{
    width: 50%;
    height: 500px;
    margin: 100px 25%;
}

.text{
    color: white;
    text-align: center;
}

.meme p{
    font-size: 1.5rem;
}

.meme h1{
    text-transform: uppercase;
    font-family: Libre Baskerville, serif;
    font-size: 3rem;
}

#image{
    width: 100%;
    height: 100%;
    border: 5px solid white;
}